extends layout.pug

include includes/utils

block content
  div(id='main')
    script(src="/javascripts/addReview.js" type="module")
    div
      p= deed.name
    div
      p= deed.description
    div
      p= deed.rating

    div
      p What do you Think?
      button(id=`add-review`) Write a Review
    div(id='review-container')
        table
          thead
            tr
              th Title
              th Review
              th Deed Rating
              th User

          tbody
            each review in reviews
              tr
                td= review.title
                td= review.body
                td= review.rating
                td #{review.User.firstName} #{review.User.lastName}
  div(id='opinion')
  div(id='pop-up-form')
    +validationErrorSummary(errors)
    form(action=`/deeds/${deed.id}` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Title', 'title', email)
        +field('Review Body', 'body',  )
        +field('Rating', 'rating', number, 'number')
        div
            button(type='submit') Save Review
            a(href=`/deeds/${deed.id}`) Cancel
