extends layout.pug

block content
    h1= csrfToken
    h2 Karmas
    form(action="/karmas" method="post")
        input(type="hidden" name=_csrf value=csrfToken)
        input(type="text" name=karmaName value=karmaName id="title")
        button(type="submit" class="add-karma") Add Karma
    table
        thead
            tr
                th title
        tbody
            each karma in karmas
                tr
                    td= karma.title
                    //- td: img(src=)
    div
        button I'm done
