extends layout.pug

include includes/utils

block content
  div(id='main')
    script(src="/javascripts/addReview.js" type="module")
    div
      p= deed.name
    div
      p= deed.description
    div
      p Average Rating
      p= deed.rating

    div
      p What do you Think?
      if locals.authenticated
        button(id=`add-review`) Write a Review
      else
        a(href='/users/log-in')
            button() Write a Review
    div(id='review-container')
        table(id='reviewTable')
          thead
            tr
              th Title
              th Review
              th Deed Rating
              th User

          tbody
            each review in reviews
              tr
                td= review.title
                td= review.body
                td(id=`review-rating${review.id}`)= review.rating
                td #{review.User.firstName} #{review.User.lastName}
  div(class='form-box-hidden')
    div(id='opinion')
      div(id='pop-up-form')
        +validationErrorSummary(errors)
        form(action=`/deeds/${deed.id}` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' id='deedHolder' value=deed.id)
            +field('Title', 'title', null)
            +field('Review Body', 'body', null)
            label(for="star-container") Rating
            div(class ="rating" id="star-container")
              input(id="star5" name="star" type="radio" value="5" class="radio-btn hide")
              label(for="star5") ☆
              input(id="star4" name="star" type="radio" value="4" class="radio-btn hide")
              label(for="star4") ☆
              input(id="star3" name="star" type="radio" value="3" class="radio-btn hide")
              label(for="star3") ☆
              input(id="star2" name="star" type="radio" value="2" class="radio-btn hide")
              label(for="star2") ☆
              input(id="star1" name="star" type="radio" value="1" class="radio-btn hide")
              label(for="star1") ☆
            div
                button(id= 'post-review') Save Review
                button(id='cancel') Cancel
