append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    .all-deeds-container
        each deed in deeds
            div(id=`deed-container-${deed.id}`).single-deed-container
                a(href=`/deeds/${deed.id}` id=`${deed.id}-name`)
                  h2(class="homeDeedName")= deed.name
                p(class="homeDeedContent" id=`${deed.id}-content`)= deed.description
