extends layout.pug

include includes/utils

block content
    script(src="/javascripts/editReview.js" type="module")
    h1(id='mydeedstitle') My Deeds
    div(id='main-mydeeds')
      div(id='karma-list')
        h3 Karmas
        a(href="/karmas") (edit)
        div(id='karma-list')
        ul(class='mydeeds-karmalist')
          if karmas
          each karma in karmas
            li(class='mydeeds-karmalist-items')= karma.title
      div(class="mydeedstable")
        table(class="mydeedsactualtable")
            thead(class='mydeedstableheader')
                tr
                    th(class='mydeedsTableHeadersAndData') Deed
                    th(class='mydeedsTableHeadersAndData') Title
                    th(class='mydeedsTableHeadersAndData') Average Rating
                    th(class='mydeedsTableHeadersAndData') Rating
                    th(class='mydeedsTableHeadersAndData') Karmas
                    th(class='mydeedsTableHeadersAndData') Review
                    th(class='mydeedsTableHeadersAndData') Date Created
                    th(class='mydeedsTableHeadersAndData') Edit Review
                    th(class='mydeedsTableHeadersAndData') Delete Review
            tbody
                each review, index in reviews
                    tr
                        td(id=`reviewNameC${review.id}` class='mydeedsTableHeadersAndData')
                          a(href=`/deeds/${review.Deed.id}`)= review.Deed.name
                        td(id=`reviewTitleC${review.id}` class='mydeedsTableHeadersAndData')= review.title
                        td(id=`reviewAvgC${review.id}` class='mydeedsTableHeadersAndData')= review.Deed.rating
                        td(id=`reviewRatingC${review.id}` class='mydeedsTableHeadersAndData')
                          span= review.rating
                        td(id=`reviewKarmas${review.id}` class='mydeedsTableHeadersAndData')

                          each link in links
                                each connection in link
                                  -if (connection.deedId === review.Deed.id)
                                    each karma in karmas
                                     -if (connection.karmaId === karma.id)
                                       li(class=`listKarma${review.id}` id='mydeeds-karmalist-intable') #{karma.title},
                          a(id=`edit-karmas-${review.id}` href='#') [edit]
                          if karmas
                           div(id=`karma-radio-bttns-${review.id}` class='hidden-karma-buttons')
                            a(id=`close-${review.id}` class='close-karma-radio' href='#') close
                            br
                            each karma in karmas
                              input(type='checkbox' name=`${karma.title}` id=`${karma.id}-${review.Deed.id}` class=`checkbox-${review.id}`)
                              lable(for=`${karma.title}`)= karma.title
                              br
                        td(id=`reviewBodyC${review.id}` class='mydeedsTableHeadersAndData')= review.body
                        td(id=`reviewDateC${review.id}` class='mydeedsTableHeadersAndData')= dates[index]
                        td(class='mydeedsTableHeadersAndData')
                            button(id=`edit-button-${review.id}` class=('done-add')) Edit

                        td(class='mydeedsTableHeadersAndData')
                            form(action=`/reviews/${review.id}` method='post')
                                button(type='submit' class=('done-add')) Delete


    each review, index in reviews
      div(id=`form-box-${review.id}` class=`review-hidden`)
                        div()
                            div()
                            +validationErrorSummary(errors)
                            form(action=`/reviews/${review.id}` method='patch')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='hidden' id=`reviewHolder${index}` value=review.id)
                            input(type='hidden' id=`ratingHolder${review.id}` value=review.rating)
                            label(class="review-title" for="title") Title
                            input(class="review-title-input" type="text" name="title" id=`title-${review.id}` value=review.title)
                            label(class="rating-label" for="star-container") Rating
                            div(class ="rating" id="star-container")
                                input(id=`star5${review.id}` name="star" type="radio" value="5" class="radio-btn hide")
                                label(for=`star5${review.id}`) ☆
                                input(id=`star4${review.id}` name="star" type="radio" value="4" class="radio-btn hide")
                                label(for=`star4${review.id}`) ☆
                                input(id=`star3${review.id}` name="star" type="radio" value="3" class="radio-btn hide")
                                label(for=`star3${review.id}`) ☆
                                input(id=`star2${review.id}` name="star" type="radio" value="2" class="radio-btn hide")
                                label(for=`star2${review.id}`) ☆
                                input(id=`star1${review.id}` name="star" type="radio" value="1" class="radio-btn hide")
                                label(for=`star1${review.id}`) ☆
                            //- +field('Title', `title-${review.id}`, review.title)
                            //- +field('Review Body', `body-${review.id}`, review.body)
                            label(class="review-body" for="body") Review Body
                            textarea(class="review-body-text" id=`body-${review.id}` name="body", cols="60", rows="10" value=review.body) #{review.body}
                            div(class="review-save-cancel")
                                button(class="save-review" id= `save-edit-${review.id}`) Save Review
                                div(class="review-cancel")
                                  button(class="cancel-review" id=`cancel-edit-${review.id}`) Cancel
